<h1 class="home-title">ようこそ<span class="bold"> Bookers </span>へ！</h1>
    <p class="homes-text">
      <span class="bold">Bookers </span>では、さまざまな書籍に関するあなたの意見や
    </p>
    <p class="homes-text">印象を共有し交換することができます</p>
    <span class="homes-text link">
      <%= link_to "start", "/books" %>
    </span>